<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Description Generator</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to CSS -->
</head>
    <body>

        <div class="header">
            <h1>MOOD</h1>
            <div> <h2>Your personalized AI-powered <br> moodboard, storyboard, concept board, title treatment generator</h2> </div>
            
        </div>

        <div class="container">
            <!-- Column for images -->
            <div class="column">
                <h2>Images</h2>
                <form id="uploadForm" method="post" enctype="multipart/form-data">
                    <div class="button" id="generateButton">Generate Descriptions</div>
                    <input type="file" id="imageUpload" name="images" multiple accept="image/*">
                    <div id="counter">0/5 images uploaded</div>
                    
                </form>
                <div class="gallery" id="imageGallery"></div>
            </div>

            <!-- Column for descriptions -->
            <div class="column">
                <h2>Descriptions</h2>
                <div class="button active" id="remixButton">Remix Descriptions</div>

                <div class="descriptions" id="descriptionColumn"></div>

                
            </div>

            <!-- New column for remixed descriptions -->
            <div class="column">
                <h2>Remixed Description</h2>

                <!-- Button to generate images -->
                <div class="button active" id="generateImagesButton">Generate Images</div>

                <div class="paragraph-container" id="remixedParagraph"></div>
                
                
            </div>

            <!-- New column for remixed descriptions -->
            <div class="column">
                <h2>Generated Images</h2>
                <!-- Button to load generated images -->
                <div class="button active" id="generateGridButton">Generate Grid</div>
                 <!-- Grid container where images will be displayed -->
                <div id="imageGrid" class="grid-container"></div>
                <!-- <div class="generated-images" id="generatedImagesGallery"></div> -->
            </div>
        </div>

        
        
        
       

        
       

        <script src="/static/scripts.js"></script> <!-- Link to JavaScript -->
    </body>
</html>